/* Global Body Styles */
@import "tailwindcss";
body {
  font-family: 'Roboto', sans-serif;
  background-color: #e1e4ce;
  margin: 0;
  padding: 0;
  color: #333;
}



/* Hide the scrollbar but still allow vertical scrolling */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
