.tour-package-container {
  padding: 2rem;
  background-color: #ecf0f1; /* Light background */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-tour-button {
  padding: 0.5rem 1rem;
  background-color: #8e44ad; /* Purple color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-tour-button:hover {
  background-color: #1abc9c; /* Teal color on hover */
}

.tour-package-table {
  width: 100%;
  margin-top: 2rem;
  border-collapse: collapse;
}

.tour-package-table th, .tour-package-table td {
  padding: 1rem;
  border: 1px solid #ccc;
  text-align: center;
}

.tour-package-table th {
  background-color: #8e44ad; /* Purple background for table headers */
  color: white;
}

.tour-package-table button {
  padding: 0.5rem 1rem;
  background-color: #e67e22; /* Orange color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.2rem;
}

.tour-package-table button:hover {
  background-color: #f39c12; /* Lighter yellow on hover */
}